# Dependencies
node_modules/

# Build artifacts
dist/
build/
out/

# IDE files
.vscode/
.idea/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store

package-lock.json
package.json 